<H1>Мини-справка</H1>
<div>
	<ul>
 		<li>Хранение/загрузка данных осуществляется посредством XML-файла</li>
 		<li>Создать структуру зданий и комнат, добавить оборудование можно через диалоговые окна <b>Редактировать->добавить ...</b></li>
 		<li>Основное окно поделено на 4 части. <br>
        	<ol>
            	<li>Cписок оборудование в комнате.</li>
                <li>Информация о выбранном оборудовании.</li>
                <li>Техническое обслуживание.</li>
                <li>Обнаруженные проблемы и методы их решения.</li>
            </ol>
			<br>
        </li>
        <li>Редактирование оборудования - двойной клик на оборудовании</li>
        <li>Поиск оборудования - <b>Редактировать->найти оборудование</b></li>
        <li>Добавить запись о техническом обслуживании и проблемах -> контекстное меню оборудования</li>
      <li>Удаление записи нижних таблиц - через контекстное меню</li>
      <li>Выбор шрифта отображения информации об оборудовании - через контекстное меню</li>
	</ul>
</div>